<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="list-group">
                <a class="list-group-item" ng-repeat="col in dataset.columns" 
                   ng-class="{active: col.active}"
                   ng-click="setActiveColumn(col.name)">
                    {{col.name}}
                </a>
    	    </div>

        </div>
        <div class="col-md-10">
            <div class="row">
                <!-- <img class="graph" ng-src="resources/graph.png"/> -->
<!--                 <svg width="50" height="50">
                    
                </svg> -->
            </div>

            <div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Metrics</h4>
                        <table class="table">
                            <tr><th>Metric</th><th>Value</th></tr>
                            <tr><td>Min Value</td><td>{{activeColumn.min}}</td></tr>
                            <tr><td>Max Value</td><td>{{activeColumn.min}}</td></tr>
                            <tr><td>Mean</td><td>{{activeColumn.mean}}</td></tr>
                            <tr><td>Median</td><td>{{activeColumn.med}}</td></tr>
                            <tr><td>Std Deviation</td><td>{{activeColumn.std}}</td></tr>
                        </table>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>