svg .bar { 
    fill: teal;
}

svg .axis path,
svg .axis line { 
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

svg text { 
    font-family: sans-serif;
}

svg .axis { 
    font-size: 11px;
}

svg .bar-label {
    font-size: 14px;
}

svg .main-title {
    font-size: 18px;
}