.graph { 
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 400px;
    height: 250px;
}

svg {
    margin-left: 50px;
}

svg .bar { 
    fill: teal;
}

svg .axis path,
svg .axis line { 
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

svg .axis text { 
    font-family: sans-serif;
    font-size: 11px;
}